:root {
  --background-color: #f8f9fb;
  --global-radius: 5px;
  --article-background-color: #83b0e1;
  --second-background-color: #ffd972;
  --second-background-color-hover: #fce4a4;
  --third-background-color: #ff8ba7;
  --third-background-color-hover: #f5a8ba;
  --grey-font-color: #535353;
}

@font-face {
  src: url(fonts/proxima-nova.ttf);
  font-family: proxima;
}

* {
  margin: 0;
  padding: 0;
  font-family: proxima;
  font-weight: 600;
}

body {
  display: 	grid;
  background-color: var(--background-color);
}

/*!        ________________________           */
/*!       |_____PAGE_DE_LOGIN_____|           */

.login-page {
  width: 50%;
  padding: 8% 0 0;
  margin: auto;
  margin-top: 5%;
}

.form {
  position: relative;
  background: var(--article-background-color);
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  border-radius: var(--global-radius);
}

.form input {
  outline: 0;
  background-color: #f2f2f2;
  width: 95%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: var(--global-radius);
  font-size: .9em;
}

.form .button {
  margin-top: 30px;
  outline: 0;
  background-color: var(--second-background-color);
  color: var(--grey-font-color);
  padding: 15px;
  font-size: .9em;
  cursor: pointer;
  width: 70%;
}

.form .button:hover {
  background-color: var(--second-background-color-hover);
}

#lien-account {
  width: 100%;
  border: 0;
  font-size: .9em;
  cursor: pointer;
  color: var(--grey-font-color);
}

.form .message {
  margin: 15px 0 0;
  color: var(--grey-font-color);
  font-size: 12px;
}



/*!        ________________________           */
/*!       |_____PAGE_DE_BLOG______|           */

button > img {
  vertical-align: middle;
}

#nomUtilisateur {
  position: absolute;
  top: 10px;
  right: 350px;
  color: var(--grey-font-color);
  font-size: 1.2em;
}

#boutonDeco {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--second-background-color);
  border: none;
  cursor: pointer;
  border-radius: var(--global-radius);
  padding: 5px;
  width: 200px;
}
#boutonDeco:hover {
  background-color: var(--second-background-color-hover);
}

#boutonCo {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--second-background-color);
  border: none;
  cursor: pointer;
  border-radius: var(--global-radius);
  padding: 5px;
  width: 200px;
}
#boutonCo:hover {
  background-color: var(--second-background-color-hover);
}

#boutonAjout {
  position: absolute;
  background-color: var(--third-background-color);
  border: none;
  cursor: pointer;
  border-radius: var(--global-radius);
  padding: 5px;
  width: 200px;
  justify-self: center;
  top: 110px;
}
#boutonAjout:hover {
  background-color: var(--third-background-color-hover);
}

.aCacher {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  justify-self: center;
  z-index: 3;
}

.fenButtonOn {
  animation: fenBoutonApparition .6s forwards;
  animation-iteration-count: 1;
}
.fenButtonOff {
  animation: fenBoutonDisparition .6s forwards;
  animation-iteration-count: 1;
}

@keyframes fenBoutonApparition {
  0% {
      clip-path: circle(0vh at center);

  }
  100% {
      clip-path: circle(150vh at center);
      width: 100%;
      height: 100%;
  }
}
@keyframes fenBoutonDisparition {
  0% {
      clip-path: circle(150vh at center);
      width: 100%;
      height: 100%;
  }
  100% {
      clip-path: circle(0vh at center);
      width: 0%;
      height: 0%;
  }
}

.transparent {
  filter: opacity(0%);
}

#contenuArtPub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
	height: 400px;
  border-radius: var(--global-radius);
  resize: none;
  outline: 0;
  border: none;
  font-size: 1.1em;
  padding: 10px;
}

#conteneurBoutonsPub {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#boutonFermer {
  background-color: var(--third-background-color);
  border: none;
  cursor: pointer;
  border-radius: var(--global-radius);
  padding: 2px;
  width: 200px;
  justify-self: center;
}
#boutonFermer:hover {
  background-color: var(--third-background-color-hover);
}

#boutonPublier {
  background-color: var(--second-background-color);
  border: none;
  cursor: pointer;
  border-radius: var(--global-radius);
  padding: 2px;
  width: 200px;
  justify-self: center;
}
#boutonPublier:hover {
  background-color: var(--second-background-color-hover);
}

.article {
  position: relative;
  background-color: var(--article-background-color);
  width: 80%;
  justify-self: center;
  top: 150px;
  padding: 25px;
  border-radius: var(--global-radius);
  padding-bottom: 130px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.article .bouton {
  background-color: transparent;
  border-radius: var(--global-radius);
  border: none;
}

.article .bouton:hover img {
  filter: invert(80%);
  cursor: pointer;
}

.boutonModifier {
  position: absolute;
  top: 5px;
  right: 40px;
}
.boutonModifier:hover::after {
  content: "Modifier l'article";
  position: absolute;
  top: -22px;
  right: 0;
  color: black;
  background-color: lightgray;
  border-radius: var(--global-radius);
  font-size: 1em;
  padding: 2px;
  width: 110px;
  justify-self: center;
}

.boutonSupprimer {
  position: absolute;
  top: 5px;
  right: 0;
}
.boutonSupprimer:hover::after {
  content: "Supprimer l'article";
  position: absolute;
  top: -22px;
  right: 0;
  color: black;
  background-color: lightgray;
  border-radius: var(--global-radius);
  font-size: 1em;
  padding: 2px;
  width: 120px;
  justify-self: center;
}

.boutonLike {
  position: absolute;
  bottom: 5px;
  right: 50px;
}
.boutonLike:hover::after {
  content: "J'aime";
  position: absolute;
  top: -22px;
  right: 0;
  color: black;
  background-color: lightgray;
  border-radius: var(--global-radius);
  font-size: 1em;
  padding: 2px;
  width: 60px;
  justify-self: center;
}

.boutonDislike {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.boutonDislike:hover::after {
  content: "Je n'aime pas";
  position: absolute;
  top: -22px;
  right: 0;
  color: black;
  background-color: lightgray;
  border-radius: var(--global-radius);
  font-size: 1em;
  padding: 2px;
  width: 100px;
  justify-self: center;
}