:root {
  --background-color: #f8f9fb;
  --global-radius: 5px;
  --article-background-color: #83b0e1;
  --second-background-color: #eebbc3;
  --second-background-color-hover: #ecd0d5;
  --grey-font-color: #535353;
}

@font-face {
  src: url(fonts/proxima-nova.ttf);
  font-family: proxima;
}

* {
  margin: 0;
  padding: 0;
  font-family: proxima;
  font-weight: 600;
}

body {
  display: 	grid;
  background-color: var(--background-color);
}

/*!        ________________________           */
/*!       |_____PAGE_DE_LOGIN_____|           */

.login-page {
  width: 50%;
  padding: 8% 0 0;
  margin: auto;
  margin-top: 5%;
}

.form {
  position: relative;
  background: var(--article-background-color);
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  border-radius: var(--global-radius);
}

.form input {
  outline: 0;
  background-color: #f2f2f2;
  width: 95%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: var(--global-radius);
  font-size: .9em;
}

.form .button {
  margin-top: 30px;
  outline: 0;
  background-color: var(--second-background-color);
  color: var(--grey-font-color);
  padding: 15px;
  font-size: .9em;
  cursor: pointer;
  width: 70%;
}

.form .button:hover {
  background-color: var(--second-background-color-hover);
}

#lien-account {
  width: 100%;
  border: 0;
  font-size: .9em;
  cursor: pointer;
  color: var(--grey-font-color);
}

.form .message {
  margin: 15px 0 0;
  color: var(--grey-font-color);
  font-size: 12px;
}



/*!        ________________________           */
/*!       |_____PAGE_DE_BLOG______|           */

#boutonDeco {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #eebbc3;
  border: none;
  cursor: pointer;
  border-radius: var(--global-radius);
  padding: 5px;
  width: 200px;
}

.article {
  position: relative;
  background-color: var(--article-background-color);
  width: 80%;
  justify-self: center;
  margin-top: 150px;
  padding: 25px;
  border-radius: var(--global-radius);
  padding-bottom: 130px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.article .bouton {
  background-color: transparent;
  border-radius: var(--global-radius);
  border: none;
}

.article .bouton:hover img {
  filter: invert(80%);
  cursor: pointer;
}

.boutonModifier {
  position: absolute;
  top: 5px;
  right: 40px;
}

.boutonSupprimer {
  position: absolute;
  top: 5px;
  right: 0;
}

.boutonLike {
  position: absolute;
  bottom: 5px;
  right: 120px;
}

.boutonDislike {
  position: absolute;
  bottom: 5px;
  right: 5px;
}